/hibernateTuto/build/
/Hibernate/build/
/Hibernate/nbproject/private/
/JavaApplication3/nbproject/private/
/video_call/nbproject/private/
/entity_classes/nbproject/private/
/client/nbproject/private/
/entity/nbproject/private/
/entity/build/
/entity/dist/
/server/nbproject/private/
/server/build/
/client/build/
/.metadata/
/UDPServer/build/
/UDPClient/build/
/UDPCall/Client/nbproject/private/
/UDPCall/Entity/nbproject/private/
/UDPCall/Server/nbproject/private/
/UDPCall/Entity/build/
/UDPCall/Entity/dist/
/UDPCall/Server/build/
/UDPCall/Client/build/
/UDPCall/UDPClient/nbproject/private/
/UDPCall/UDPEntity/nbproject/private/
/UDPCall/UDPServer/nbproject/private/
/UDPCall/UDPEntity/build/
/UDPCall/UDPEntity/dist/
/UDPCall/UDPServer/build/
/UDPCall/UDPClient/build/
/RMI/RMIClient/nbproject/private/
/RMI/RMIEntity/nbproject/private/
/RMI/RMIServer/nbproject/private/
/RMI/RMIEntity/build/
/RMI/RMIEntity/dist/
/RMI/RMIServer/build/
/RMI/RMIClient/build/
/TCP-UDP/Client/build/
/TCP-UDP/Client/nbproject/private/
/TCP-UDP/Entity/build/
/TCP-UDP/Entity/dist/
/TCP-UDP/Entity/nbproject/private/
/TCP-UDP/TCPServer/build/
/TCP-UDP/TCPServer/nbproject/private/
/TCP-UDP/UDPServer/build/
/TCP-UDP/UDPServer/nbproject/private/
/TCP-UDP/UDPServer1/nbproject/private/
/TCP-UDP/TCPServer1/nbproject/private/
/TCP-UDP/Entity1/nbproject/private/
/TCP-UDP/Client1/nbproject/private/
/TCP-UDP/Entity1/dist/
/TCP-UDP/Entity1/build/
/TCP-UDP/UDPServer1/build/
/TCP-UDP/TCPServer1/build/
/TCP-UDP/Client1/build/
/VideoCall_MRI/ClientAppRMI/build/
/VideoCall_MRI/ClientAppRMI/nbproject/private/
/VideoCall_MRI/LibAppRMI/build/
/VideoCall_MRI/LibAppRMI/dist/
/VideoCall_MRI/LibAppRMI/nbproject/private/
/VideoCall_MRI/ServerAppRMI/build/
/VideoCall_MRI/ServerAppRMI/nbproject/private/
/VideoCall_MRI/LibRMI/nbproject/private/
/VideoCall_MRI/RMIServer/nbproject/private/
/VideoCall_MRI/RMIClient/nbproject/private/
/VideoCall_MRI/RMILib/build/
/VideoCall_MRI/RMILib/nbproject/private/
/VideoCall_MRI/RMILib/dist/
/VideoCall_MRI/RMIServer/build/
/VideoCall_MRI/RMIClient/build/
/VideoCall_TCP_RMI/ClientTCP_RMI/build/
/VideoCall_TCP_RMI/ClientTCP_RMI/nbproject/private/
/VideoCall_TCP_RMI/LibTCP_RMI/build/
/VideoCall_TCP_RMI/LibTCP_RMI/dist/
/VideoCall_TCP_RMI/LibTCP_RMI/nbproject/private/
/VideoCall_TCP_RMI/ServerRMI/build/
/VideoCall_TCP_RMI/ServerRMI/nbproject/private/
/VideoCall_TCP_RMI/ServerTCP/build/
/VideoCall_TCP_RMI/ServerTCP/nbproject/private/
/VideoCall_TCP_RMI/TCP_RMILib/nbproject/private/
/VideoCall_TCP_RMI/TCP_RMIClient/nbproject/private/
/VideoCall_TCP_RMI/RMIServer/nbproject/private/
/VideoCall_TCP_RMI/TCPServer/nbproject/private/
/VideoCall_TCP_RMI/TCP_RMILib/build/
/VideoCall_TCP_RMI/TCP_RMILib/dist/
/VideoCall_TCP_RMI/RMIServer/build/
/VideoCall_TCP_RMI/TCPServer/build/
/VideoCall_TCP_RMI/TCP_RMIClient/build/
/Thực hành 2/RMIServer/nbproject/private/
/Thực hành 2/UDPServer/nbproject/private/
/Thực hành 2/Lib/nbproject/private/
/Thực hành 2/TH2Lib/build/
/Thực hành 2/TH2Lib/nbproject/private/
/TH2/RMIServer/nbproject/private/
/TH2/TH2Lib/build/
/TH2/TH2Lib/nbproject/private/
/TH2/UDPServer/nbproject/private/
/TH2/TH2Lib/dist/
/TH2/TH2Client/nbproject/private/
/TH2/TH2RMIServer/nbproject/private/
/TH2/TH2UDPServer/nbproject/private/
/TH2/TH2RMIServer/build/
/TH2/TH2UDPServer/build/
/TH2/TH2Client/build/
