/hibernateTuto/build/
/Hibernate/build/
/Hibernate/nbproject/private/
/JavaApplication3/nbproject/private/
/video_call/nbproject/private/
/entity_classes/nbproject/private/
/client/nbproject/private/
/entity/nbproject/private/
/entity/build/
/entity/dist/
/server/nbproject/private/
/server/build/
/client/build/
/.metadata/
